body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    max-width: 100vw;
    overflow-x: hidden;
}
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    width: 90%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#testContainer, #setupScreen {
    display: none;
}

#options
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 300px;
}
#options button {
    display: block;
    width: 100%;
    margin: 5px 0;
}
input, select {
    font-size: 16px;
    padding: 10px;
    width: 90%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Специфичный стиль для радио-кнопок */
input[type="radio"] {
    width: auto;
    margin: 0 10px 0 0;
    padding: 0;
}

/* Стили для радио-групп */
.radio-group {
    width: 100%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.radio-group label {
    display: flex;
    align-items: center; /* Выравнивание радио-кнопки и текста по центру */
    margin: 5px 0; /* Отступ между вариантами */
    font-size: 16px;
}

/* Стиль для кнопки "Выйти ко всем тестам" */
#setupScreen button[onclick="startTest()"] {
    margin-top: 20px; /* Отступ сверху */
}

/* Стиль для кнопки "Выйти ко всем тестам" */
#setupScreen button[onclick="exitToTestSelection()"] {
    margin-top: 20px; /* Отступ сверху */
}